# ROS and catkin
/build/
/devel/
/install/*
!/install/**/smarts_ros/
!/install/lib/smarts_ros/
!/install/share/smarts_ros/

cmake.lock
*.cmake
/src/CMakeLists.txt
cmake/
gennodejs/
common-lisp/
roseus/

